<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>School App</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		/>
	</head>
	<body>
		<nav class="nav-container">
			<ul>
				<h2>Wellington School</h2>
				<div class="nav-links">
					{% if user.is_authenticated %}
					<a href="{% url 'articles:article_create' %}"
						><i class="fa-plus fas"></i
					></a>
					{% endif %}
					<a href="#articles">Browse Articles</a>
					{% if user.is_authenticated %}
					<form method="post" action="{% url 'logout' %}">
						{% csrf_token %}
						<button type="submit">Logout</button>
					</form>

					{% else %}
					<a href="{% url 'login' %}">Login</a>
					{% endif %}
				</div>
			</ul>
		</nav>
		<!--Base - Requires Nav bar and footer-->
		{% block content %} {% endblock %}
	</body>
</html>
