{% extends "Schoolapp/base.html" %}

{% block title %}Whitecliffe School{% endblock %}

{% block content %}
<link rel="stylesheet" href="../../static/static_Schoolapp/CSS/home.css">
<h1>Browse Articles</h1>
<div class="searchContainer">
    <form method="get"> <!--add action="{ 'search' }"-->
        <input type="search" placeholder="Search by keyword.." aria-label="Search" class="SearchBar">
        <button type="submit" class="SearchBtn">Search</button>
    </form>
</div>
<h1>All Catagories</h1>
<div>
    <a>Art</a> <!--add action { 'browseArt' }-->
    <a>Mathematics</a> <!--add action { 'browseMath' }-->
    <a>Technology</a> <!--add action { 'browseTech' }-->
</div>
{% endblock %}