{% extends "base.html" %} {% block content %} 
{% if user.is_authenticated and perms.articles.delete_article %}
<div>
    <h1>Delete Article</h1>
    <p>Are you sure you would like to delete the {{ articles.name }} article?</p>
    

<form method="post">
    {% csrf_token %}
        <input type="submit" value="Confirm">
    </form>
</div>
{% else %}
<div>
    <h3 class="create-warning">
        You are not logged in or do not have access to this page.<br />
        Please log in to view this page.
    </h3>
</div>     
{% endif %} {% endblock %}