<!--Home Page - Requires search filter, item filter-->
{% extends 'base.html' %} {% block content %}
<div class="home-container">
	<div class="home-header">
		<h2>Welcome to Wellington School</h2>
		<p>
			This sites purpose is to help provide information for students interested
			in following their studies and pursing information about historical
			figures and events.
		</p>
	</div>
	<div>
		<div class="result-controls">
			<h1>Our Articles</h1>
			<div>
				<form class="search-bar">
					<input
						type="text"
						name="search_query"
						placeholder="Search for articles..."
						aria-label="Search for articles..."
					/>
					<button type="submit">
						<i class="fas fa-search"></i>
					</button>
				</form>

				<div class="filter-container">
					<i class="fas fa-filter"></i>
				</div>
			</div>
		</div>
		<div class="filter-options">
			<form method="get" action="{% url 'articles:filter_by_category' %}">
				<label for="category">Category</label>
				<select name="category" id="category" onchange="this.form.submit()">
					<option selected value=""></option>
					<option value="all">All</option>
					<option value="arts">Arts</option>
					<option value="mathematics">Mathematics</option>
					<option value="technology">Technology</option>
				</select>
			</form>
		</div>
		<div id="articles" class="article-container">
			{% for article in articles %} {% if articles %}
			<a href="{% url 'articles:article_detail' article.pk %}">
				<div class="article-card">
					<div class="article-content">
						<h2>{{ article.name }}</h2>
						<p>{{ article.type }}</p>
					</div>
				</div>
			</a>
			{% else %}
			<p>No articles found</p>
			{% endif %} {% endfor %}
		</div>
	</div>
</div>
<script>
	const filterButton = document.querySelector(".filter-container");
	const filterOptions = document.querySelector(".filter-options");
	let filterActive = false;
	filterButton.addEventListener("click", () => {
		filterActive = !filterActive;
		console.log(filterActive);

		if (!filterActive) {
			filterOptions.style.display = "none";
		} else {
			filterOptions.style.display = "flex";
		}
	});
</script>
{% endblock %}
