* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #089fab;
  height: 100vh;
}

.box {
  position: relative;
  height: 450px;
  width: 370px;
  background: #1c1c1c;
  border-radius: 60px 5px;
}

form {
  position: absolute;
  flex-direction: column;
  inset: 2px;
  border-radius: 60px 5px;
  background: #020024;
  padding: 40px 40px;
  display: flex;
}

.title {
  width: 100%;
}

.title h1 {
  color: #45f3ff;
  filter: drop-shadow(0 5px 10px #45f3ff);
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

form .title-input-box {
  width: 100%;
  margin-top: 20px;
}

form .title-input-box input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2); 
  color: aliceblue;
  border-width: 5px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  margin: 10px 0px 10px 0px;
}

form .title-input-box input::placeholder {
  color: aliceblue;
}

form .title-input-box input[type="submit"] {
  background-color: #45f3ff;
  cursor: pointer;
  color: #16100e;
  filter: drop-shadow(0 5px 10px #45f3ff);
  margin-bottom: 20px;
}

form .forgot-pass {
  padding-top: 15px;
  color: rgb(103, 173, 183); 
  font-size: 0.90rem;
}

form .forgot-pass a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(153, 41, 99);
}

form .signup-text {
  padding-top: 15px;
  color: rgb(103, 173, 183);
  font-size: 0.90rem;
}

form .signup-text a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(153, 41, 99);
}

.user-input {
  color: rgb(103, 173, 183);
}
