h1 {
    text-align: center;
    padding-top: 100px;
}

div a {
    text-align: center;
    display: block;
    padding: 5px;
    margin: auto;
    margin-top: 5px;
    background-color: grey;
    width: 10%;
}