/* Use this file for styling elements */

* {
	padding: 0;
	margin: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
	background-color: whitesmoke;
}

/* General Styles */

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Navigation */

.nav-container {
	background-color: #303030;
	padding: 30px 20px;
	color: white;
	font-weight: bold;
}

.nav-container > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-container > ul > h2 {
	flex-grow: 1;
	font-size: 32px;
}

.nav-links {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.nav-links > form > button {
	border: none;
	background-color: inherit;
	color: white;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}

.nav-links > form > button:hover {
	text-decoration: underline;
}

/* Home Page */

.show {
	display: block;
}

.home-container {
	padding: 20px 0;
}

.home-header {
	text-align: center;
	margin-bottom: 30px;
}

.home-header p {
	margin-top: 10px;
	font-size: 18px;
}

.result-controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #303030;
	padding: 15px 20px;
}

.result-controls > h1 {
	color: white;
	font-size: 32px;
}

.result-controls > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.filter-container {
	background-color: white;
	padding: 10px 5px;
	margin-left: 20px;
	border-radius: 5px;
}

.filter-container:hover {
	background-color: #c5c5c5;
	cursor: pointer;
}

.filter-options {
	margin: 10px 0;
	display: none;
}

.filter-options > form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 0 auto;
	width: 300px;
}

.filter-options > form > label {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.filter-options > form > select {
	padding: 5px;
	font-size: 16px;
}

.search-bar {
	background-color: white;
	border-radius: 20px;
	padding-right: 5px;
}

.search-bar input {
	padding: 10px;
	margin: 5px 10px;
	border: none;
	outline: none;
	color: black;
	font-size: 18px;
	font-weight: bold;
}

.search-bar input:hover::placeholder {
	color: black;
}

.search-bar > button {
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.search-bar > button:hover {
	color: rgba(0, 0, 0, 0.514);
}

.fa-search {
	font-size: 24px;
	margin: 5px auto;
}

.fa-filter {
	font-size: 24px;
}

/* Home Page - Articles */

.article-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	gap: 10px;
}

.article-container > a {
	text-decoration: none;
}

.article-card {
	background-color: rgb(253, 253, 253);
	text-align: left;
	width: 80vw;
	padding: 30px 10px;
	border-radius: 8px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
	text-decoration: none;
}

.article-card:hover {
	scale: 1.04;
}
